%li.clearfix{ :id => "status_#{status.id}" }
  .avatar{ :style => "background: url(#{gravatar_url_for_user(status.user, 48)});" }
  %div.activity
    %span.text= auto_link(status.text)
    %span= status.user.name if status.user
    %span= timeago(status.created_at)
    %span.white
      = link_to "via #{status.source}", status.link if status.link.present?