#top
  %span.push_1.project_label Admin
  %h1.push_1.grid_20 Create new Administrator
#leftcolumn.push_1.grid_15
  = simple_form_for(@admin, :as => :admin, :url => registration_path(:admin)) do |f|
    = f.input :email, :input_html => {:class => "flip", :style => "width:370px"}, :required => false
    = f.input :password, :input_html => {:class => "flip", :style => "width:370px"}, :required => false
    = f.input :password_confirmation, :input_html => {:class => "flip"}
    = f.button :submit, "Create", :class => "button"