#frontheader.clearfix
  #fbuttons_outer.container_24
    #frontbuttons
      #sign
        = link_to "Sign in", new_user_session_path
        or
        = link_to "Signup now!", new_user_registration_path
      #demo
        = link_to "Try the Demo<br /><span>No registration required</span>".html_safe, demo_path, :rel => "nofollow", :remote => :true
    - unless flash.empty?
      - flash.each do |key, value|
        %div{:class => "#{key} flash"}= value
        .clear
    %span.logo Splendid Bacon
    %h1
      Project Management* for hackers
      %span{:class => "tagline"} * Now with bacon sprinkles!
    = image_tag "screenshots.png", :alt => "Screenshot"

#fbottom
  .container_24#benefits.clearfix
    .p.grid_8.benefit
      %span.pictos.project
      %p Project management software is often overkill. Splendid Bacon only kills pigs. Sorry.
      
    .grid_8.benefit
      %span.pictos.dashboard
      %p See what is happening in your organization and projects at a glance.
      
    .grid_8.benefit
      %span.pictos.simple
      %p It’s as easy as eating bacon. And it uses dark colors.
   
  .container_24#footer
    %h2 Built by Kisko Labs
    %p 
      %a{ :href => "http://blog.kiskolabs.com" } Blog
      %a{ :href => "http://twitter.com/splendidbacon" } @splendidbacon
      %a{ :href => "http://twitter.com/kiskolabs" } @kiskolabs
    = link_to image_tag("kisko-logo.png", :alt => "Kisko Labs"), "http://kiskolabs.com/"
