%p Status
%div.flip 
  = status_for_project(@project)
%p Last Activity
%div.flip 
  %span= date_to_words(@project.last_activity)
%p Countdown
%div.flip
  %span= countdown(@project.end)
%h2 Team
%ul.sidebar_team
  - @project.users.each do |user|
    %li
      .avatar{:style => "background: url(#{user.gravatar_url(48)});"}
      %span.user.white= user.name
      .clear
.clearfix
