#top
  %span.push_1.project_label Project
  %h1.push_1.grid_20= @project.name
  = link_to "Edit Project", edit_project_path(@project), :class => "button pictos edit right"
#leftcolumn.push_1.grid_14
  #update
    = simple_form_for [@project, @comment] do |f|
      = f.input :text, :label => "Post an update", :input_html => {  :rows => 2, :cols => 40, :class => "grid_13"}, :required => false
      .clear
      %span.hint.grid_11 How is the project going?
      = f.button :submit, "Post", :class => "button right"

  %h2 Activity
  #activity
    #notifications
      - if @notification.present?
        = link_to "Unsubscribe from notifications", project_notification_path(@project, @notification), :remote => true, :method => :delete
      - else
        = link_to "Subscribe to comment notifications", project_notifications_path(@project), :remote => true, :method => :post
      
    %ol
      - @project.statuses.limit(20).each do |status|
        %li.clearfix
          .avatar{:style => "background: url(#{gravatar_url_for_user(status.user, 48)});"}
          %div.activity
            %span.text= status.text
            %span= status.user.name if status.user
            %span= timeago(status.created_at)
            %span.white
              = link_to "via #{status.source}", status.link if status.link.present?

#sidebar.grid_7.push_2
  %p Status
  %div.flip 
    = status_for_project(@project)
  %p Last Activity
  %div.flip 
    %span= date_to_words(@project.last_activity)
  %p Countdown
  %div.flip
    %span= countdown(@project.end)
  %h2 Team
  %ul.sidebar_team
    - @project.users.each do |user|
      %li
        .avatar{:style => "background: url(#{user.gravatar_url(48)});"}
        %span.user.white= user.name
        .clear
  .clearfix
.clear