#top
  %h1.push_1.grid_20= @project.name
  = link_to "Edit Project", edit_project_path(@project), :class => "button pictos edit right"
#leftcolumn.push_1.grid_15
  #update
    = simple_form_for [@project, @comment] do |f|
      = f.input :text, :label => "Post an update", :input_html => {  :rows => 2, :cols => 40, :class => "grid_14"}, :required => false
      .clear
      %span.hint.grid_11 How is the project going?
      = f.button :submit, "Create", :class => "button grid_3"

  %h2 Activity
  #activity
    %ol
      - @project.statuses.each do |status|
        %li.clearfix
          %span.avatar= image_tag(status.user.gravatar_url 48) if status.user
          %div.activity
            %span.text= status.text
            %span= status.user.name if status.user
            %span.relatize= status.created_at.httpdate
            %span.white
              - if status.link.present?
                = link_to status.source, status.link
              - else
                = status.source

#sidebar.grid_7.push_2
  %p Status
  %div.flip 
    = status_for_project(@project)
  %p Last Activity
  %div.flip 
    %span= date_to_words(@project.last_activity)
  %p Countdown
  %div.flip
    %span= countdown(@project.end)
  %h2 Team
  - @project.users.each do |user|
    %span.avatar= image_tag user.gravatar_url 48
    %span.user= user.name
.clear