#top
  %span.push_1.project_label Project
  %h1.push_1.grid_20= @project.name
  = link_to "Edit Project", edit_project_path(@project), :class => "button pictos edit right"
#leftcolumn.push_1.grid_14
  = render "update_form"

  %h2 Activity
  #activity
    #notifications
      - if @notification.present?
        = link_to "Unsubscribe from notifications", project_notification_path(@project, @notification), :remote => true, :method => :delete
      - else
        = link_to "Subscribe to comment notifications", project_notifications_path(@project), :remote => true, :method => :post
      
    %ol
<<<<<<< HEAD
      - @project.statuses.limit(20).each do |status|
        %li.clearfix
          .avatar{:style => "background: url(#{gravatar_url_for_user(status.user, 48)});"}
          %div.activity
            %span.text= status.text
            %span= status.user.name if status.user
            %span= timeago(status.created_at)
            %span.white
              = link_to "via #{status.source}", status.link if status.link.present?
=======
      = render @project.statuses.limit(20)
>>>>>>> origin/guest-access

#sidebar.grid_7.push_2
  = render "sidebar"

  %h2 Guest Access
  - if @project.guest_access?
    = button_to "Disable guest access", disable_guest_access_project_path(@project), :method => :put

    %input#guest_access.copy_url.grid_7.flip{:value => guest_project_url(@project, :token => @project.guest_token), :readonly => "readonly"}
    %p Copy and give this url to people you want to give access to this page. Editing is not allowed for guests.
  - else
    = button_to "Enable guest access", enable_guest_access_project_path(@project), :method => :put
    %p Enable guest access to give guests ability to view this project.

  
.clear
