#top
  %span.push_1.project_label Organization
  %h1.push_1.grid_20= @organization.name
#leftcolumn.push_1.grid_15
  = simple_form_for(@organization) do |f|
    = f.input :name, :input_html => {:class => "flip"}, :required => false
    = f.submit :class => "button"

  %hr/

  %h2#people People

  = simple_form_for(@invitation, :html => {:name => "new_invitation"}, :remote => true) do |f|
    = f.input :organization_id, :input_html => {:value => @organization.id}, :as => :hidden, :class => "flip"
    = f.input :email, :label => "Invite new member", :input_html => { :placeholder => "email@example.com", :class => "flip", :disabled => in_demo? }, :required => false
    = f.submit "Send", :class => "button", :style => "display:inline;", :disabled => in_demo?
    
  - if in_demo?
    %p.red Invitations cannot be sent in the demo mode.

  #sent_invitations

  #people
    %ul
      - @organization.memberships && @organization.memberships.each do |member|
        %li.membercell{:id => "member_#{member.id}"}
          %span.avatar= image_tag(member.user.gravatar_url(48), :width => 48, :height => 48)
          %span.user
            = member.user.name
            %br/
            = link_to "Remove", organization_membership_path(@organization, member), :method => :delete, :data => { :confirm => "Are you sure you want to remove this user from the organization?" }, :remote => true
    .clearfix

  %hr/

  %h2 Bankrupt?

  %p Deletion is permanent and cannot be undone.

  = button_to "Delete the organization", @organization, :method => :delete, :data => { :confirm => "Are you sure you want delete this organization?", :class => "button", :id => "organization_delete_button" }

