#outer_timeline
  
  .grid_14.alpha
    %span.push_1.project_label Timeline
    %h1.push_1= @organization.name

  = render "timeline_project_filters"

  - if @late_projects.any?
    #late_projects.push_1.grid_22
      .help.grid_10.alpha
        %h2
          = pluralize(@late_projects.size, "project is", "projects are")
          overdue
        %p The projects are over 2 weeks late. Please extend the ending time or put the project on hold by using the edit links.
      .project_list.grid_10.omega
        %h2 Edit overdue projects

        %ul
          - @late_projects.each do |project|
            %li
              = project.name
              = link_to(edit_project_path(project), :class => "button") do
                Edit

  .clear
  - if @on_going_projects.any?
    = render "timeline"
  - else
    .grid_22.push_1
      %p If your organization had any ongoing projects, they would be shown here. 
