#outer_timeline
  .grid_1
    %a{ :href => "#prev" }= image_tag "timeline-arrow-left.png"
  .grid_22
    #outer_months
      #months= months(@projects)
    .clear
    #timeline
      #today_bar{ :style => "left: #{today_left_margin}px;" }
      - @projects.each do |project|
        .project{ :style => "width: #{width(project)-2}px; left: #{left_margin(project)}px;" }
  .grid_1.omega
    %a{ :href => "#next" }= image_tag "timeline-arrow-right.png"
  .clear

:css
  #months {
    width: 9999px;
  }

  #outer_months {
    overflow: hidden;
  }
