#project_filters
  %span Filter
  %select.project_filter{"data-type" => "user"}
    %option{"value" => "all"} TEAMMATE
    - @organization.users.each do |user|
      %option{"value" => user.id}= user.name

  %span Project Status
  %select.project_filter{"data-type" => "project_status"}
    %option{"value" => "all"} STATUS
    %option{"value" => "ongoing"} Ongoing
    %option{"value" => "on_hold"} On Hold
    %option{"value" => "completed"} Completed

#outer_timeline
  .grid_1
    %a.nav.left{ :href => "#prev" }= image_tag "timeline-arrow-left.png"
  #inner_timeline.grid_22
    #outer_months
      #months{ :style => "width: #{timeline_width(@projects)+870}px;" }
        = months(@projects)
    .clear
    #timeline
      #today_bar{ :style => "left: #{today_left_margin}px;" }
      - @projects.each do |project|
        .project.filterable_project{ :style => "width: #{width(project)-2}px; left: #{left_margin(project)}px;", :class => older_class(project), :"data-users" => project.user_ids, :"data-state" => project.state }
          .inner
            .name= link_to project.name, project_path(project)
            %ul.team
              - project.users.each do |user|
                %li= user.name
  .grid_1.omega
    %a.nav{ :href => "#next" }= image_tag "timeline-arrow-right.png"
  .clear
  %p{:class => "right pull_1", :style => "font-style:italic"} You can also use left and right arrow keys to move the timeline.
