#top
  %span.push_1.project_label Timeline
  %h1.push_1.grid_20= @organization.name

- if @projects.any?
  #outer_timeline
    .grid_1
      %a{ :href => "#prev" }= image_tag "timeline-arrow-left.png"
    .grid_22
      #outer_months
        #months{ :style => "width: #{timeline_width(@projects)}px;" }
          = months(@projects)
      .clear
      #timeline
        #today_bar{ :style => "left: #{today_left_margin}px;" }
        - @projects.each do |project|
          .project{ :style => "width: #{width(project)-2}px; left: #{left_margin(project)}px;", :class => older_class(project) }
            .name= project.name
            %ul.team
              - project.users.each do |user|
                %li= user.name
    .grid_1.omega
      %a{ :href => "#next" }= image_tag "timeline-arrow-right.png"
    .clear
- else
  %p
    You don't have any projects yet. No timeline for you!
    = link_to "Create a project", new_project_path
  