!!!
%html
  %head
    %title Splendid Bacon
    = stylesheet_link_tag "reset", "text", "960_24_col", "application", :cache => true
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tag
  %body
    #header
      .container_24
        #title.grid_6
          - if user_signed_in?
          #organization_nav
            %ul
              - if @organization && @organization.id
                %li= link_to @organization.name, @organization
              - current_user.organizations && current_user.organizations.each do |organization|
                - unless @organization == organization
                  %li= link_to organization.name, organization
        #buttons.grid_14
          - if @organization && @organization.id
            - if user_signed_in?
              = link_to "Dashboard", organization_path(@organization), :class => "button"
              = link_to "Timeline", timeline_organization_path(@organization), :class => "button"
              = link_to "Organizations", organizations_path, :class => "button"
              = link_to "Logout", destroy_user_session_path, :class => "button"
            - else
              = link_to "Login", new_user_session_path
        #logo.grid_4.omega
          = link_to image_tag("header-logo.png"), root_path
    #parked_links

    - unless flash.empty?
      - flash.each do |key, value|
        %div{:class => "#{key} flash"}= value
    #content.container_24= yield