!!!
%html
  %head
    %title Splendid Bacon
    = stylesheet_link_tag "reset", "text", "960_24_col", "pictos", "jquery-ui", "application", :cache => true
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.png", :type => "image/png" }/
  %body
    #header
      .container_24
        #title.grid_6
          - if user_signed_in?
            - if current_organization && current_organization.id
              #organization_nav
                %h1= link_to current_organization.name, edit_organization_path(current_organization), :style => "display:block;"
                #control.pictos.down.button
                %ul#onav
                  - current_user.organizations && current_user.organizations.sort_by{|p| p.name.downcase}.each do |organization|
                    - unless current_organization == organization
                      %li= link_to organization.name, organization
                  %li= link_to "Add Organization", new_organization_path
        #buttons.grid_16
          - if user_signed_in?
            - if current_organization
              = navigate_to :dashboard, "Dashboard", organization_path(current_organization), :class => "button pictos dashboard"
              = navigate_to :timeline, "Timeline", timeline_organization_path(current_organization), :class => "button pictos time"
            = navigate_to :account, "Account", edit_user_registration_path, :class => "button pictos account"
            = link_to "New Project", new_project_path, :class => "button pictos new"
            = link_to "Logout", destroy_user_session_path, :class => "logout"
          - else
            = link_to "Login", new_user_session_path, :class => "button", :style => "float:right"
        #logo.grid_2.omega
          = link_to image_tag("header-logo.png"), root_path
    - unless flash.empty?
      - flash.each do |key, value|
        %div{:class => "#{key} pictos flash"}= value
    .container_24{ :id => background? ? "content" : nil }
      = yield
    - if Rails.env.production?
      %script{ :type => "text/javascript" }
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      %script{ :type => "text/javascript" }
        try {
        var pageTracker = _gat._getTracker("UA-19157336-1");
        pageTracker._setDomainName("none");
        pageTracker._setAllowLinker(true);
        pageTracker._trackPageview();
        } catch(err) {}
      %script{ :type => "text/javascript", :src => "http://include.reinvigorate.net/re_.js" }
      :javascript
        try {
        reinvigorate.track("70m85-chv7dyyg60");
        } catch(err) {}