!!!
%html
  %head
    %meta{ :charset => "UTF-8" }
    %title Splendid Bacon
    <link href="/stylesheets/pictos_base64.css?1" media="screen" rel="stylesheet" type="text/css" />
    = stylesheet_link_tag "reset", "text", "960_24_col", "jquery-ui", "jquery.jgrowl", "application", :cache => true
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"
    = javascript_include_tag :defaults, "underscore", :cache => true
    = csrf_meta_tag
    - if @broadcast
      %meta{:name => "broadcast-title", :content => @broadcast.title }
      %meta{:name => "broadcast-text", :content => @broadcast.text }
      %meta{:name => "broadcast-url", :content => user_broadcast_broadcast_reads_path(current_user, @broadcast) }
    %link{ :rel => "shortcut icon", :href => "/favicon.png", :type => "image/png" }
    %link{ :rel => "apple-touch-icon-precomposed", :href => "/images/app-icon.png" } 
  %body
    - if in_demo?
      #demo_banner
        %p
          You are currently using the <strong>demo</strong> mode.
          Any changes you make <strong>will be lost</strong> after you log out or close your browser.
          = link_to "Sign up here."
    #header
      .container_24
        #title.grid_6
          - if user_signed_in?
            - if current_organization && current_organization.id
              #organization_nav
                %h1= link_to current_organization.name, edit_organization_path(current_organization), :style => "display:block;"
                #control.pictos.down.button
                %ul#onav
                  - current_user.organizations && current_user.organizations.sort_by{|p| p.name.downcase}.each do |organization|
                    - unless current_organization == organization
                      %li= link_to organization.name, organization
                  %li= link_to "Add Organization", new_organization_path
        #buttons.grid_16
          - if user_signed_in?
            - if current_organization
              = navigate_to :dashboard, "Dashboard", organization_path(current_organization), :class => "button pictos dashboard"
              = navigate_to :timeline, "Timeline", timeline_organization_path(current_organization), :class => "button pictos time"
            = link_to "New Project", new_project_path, :class => "button pictos new"
            = navigate_to :account, "Account", edit_user_registration_path, :class => "account"
            = link_to "Logout", destroy_user_session_path, :class => "logout"
          - else
            - if controller.controller_name == "sessions" && controller.action_name == "new"
              = link_to "Sign up", new_user_registration_path, :class => "button", :style => "float:right"
            - else
              = link_to "Login", new_user_session_path, :class => "button", :style => "float:right"
        #logo.grid_2.omega
          = link_to image_tag("header-logo.png"), root_path
    - unless flash.empty?
      - flash.each do |key, value|
        %div{:class => "#{key} pictos flash"}= value
    .container_24{ :id => background? ? "content" : nil }
      = yield
    = render :partial => "layouts/analytics" if Rails.env.production?
