!!!
%html
  %head
    %title Splendid Bacon
    = stylesheet_link_tag "reset", "text", "960_24_col", "application"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tag
  %body
    - unless flash.empty?
      - flash.each do |key, value|
        %div{:class => "#{key} flash"}= value
    = yield
