!!!
%html
  %head
    %meta{ :charset => "UTF-8" }
    %title Splendid Bacon
    = stylesheet_link_tag "pictos_base64"
    = stylesheet_link_tag "reset", "text", "960_24_col", "jquery-ui", "application", :cache => true
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.png", :type => "image/png" }
    %link{ :rel => "apple-touch-icon-precomposed", :href => "/images/app-icon.png" }
  %body#frontpage
    = render "layouts/shutdown"
    %div
      = yield
    = render :partial => "layouts/analytics" if Rails.env.production?
  #spinner{ :style => "display: none;" }
    %span Please wait while we prepare a demo account for you&hellip;
    = image_tag "spinner.gif", :height => 32, :width => 32