!!!
%html
  %head
    %meta{ :charset => "UTF-8" }
    %title Splendid Bacon
    <link href="/stylesheets/pictos_base64.css?1" media="screen" rel="stylesheet" type="text/css" />
    = stylesheet_link_tag "reset", "text", "960_24_col", "jquery-ui", "application", :cache => true
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.png", :type => "image/png" }
    %link{ :rel => "apple-touch-icon-precomposed", :href => "/images/app-icon.png" }
  %body#frontpage
    %div
      = yield
    - if Rails.env.production?
      %script{ :type => "text/javascript" }
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      %script{ :type => "text/javascript" }
        try {
        var pageTracker = _gat._getTracker("UA-19157336-1");
        pageTracker._setDomainName("none");
        pageTracker._setAllowLinker(true);
        pageTracker._trackPageview();
        } catch(err) {}
      %script{ :type => "text/javascript", :src => "http://include.reinvigorate.net/re_.js" }
      :javascript
        try {
        reinvigorate.track("70m85-chv7dyyg60");
        } catch(err) {}
