!!!
%html
  %head
    %meta{ :charset => "UTF-8" }
    %title Splendid Bacon
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.png", :type => "image/png" }
    %link{ :rel => "apple-touch-icon-precomposed", :href => "/images/app-icon.png" }
  %body#frontpage
    %div
      = yield
    = render :partial => "layouts/analytics" if Rails.env.production?
  #spinner{ :style => "display: none;" }
    %span Please wait while we prepare a demo account for you&hellip;
    = image_tag "spinner.gif", :height => 32, :width => 32