!!!
%html
  %head
    %title Splendid Bacon
    <link href="/stylesheets/pictos_base64.css?1" media="screen" rel="stylesheet" type="text/css" />
    = stylesheet_link_tag "reset", "text", "960_24_col", "jquery-ui", "application", :cache => true
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tag
    %link{ :rel => "shortcut icon", :href => "/favicon.png", :type => "image/png" }
    %link{ :rel => "apple-touch-icon-precomposed", :href => "/images/app-icon.png" }
    %meta{ :name => "robots", :content => "noindex, nofollow" }
  %body
    #header
      .container_24
        #title.grid_6
          #organization_nav
            %h1 Administration
        #buttons.grid_16
          - if admin_signed_in?
            = navigate_to :dashboard, "Dashboard", magic_root_path, :class => "button pictos account"
            = navigate_to :account, "Account", edit_admin_registration_path, :class => "button pictos account"
            = navigate_to :create_admin, "Create Admin", new_admin_registration_path, :class => "button pictos new"
            = link_to "Logout", destroy_admin_session_path, :class => "logout"
        #logo.grid_2.omega
          = link_to image_tag("header-logo.png"), root_path
    - unless flash.empty?
      - flash.each do |key, value|
        %div{:class => "#{key} pictos flash"}= value
    .container_24{ :id => background? ? "content" : nil }
      = yield