!!!
%html
  %head
    %meta{ :charset => "UTF-8" }
    %title= title(@title) + " Administration"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = favicon_link_tag("/favicon.png", :type => "image/png")
    = favicon_link_tag("app-icon.png", :rel => "apple-touch-icon-precomposed")
    %meta{ :name => "robots", :content => "noindex, nofollow" }
  %body
    #header
      .container_24
        #buttons.grid_22
          - if admin_signed_in?
            = navigate_to :dashboard, "Dashboard", magic_root_path, :class => "button pictos dashboard"
            = navigate_to :account, "Account", edit_admin_registration_path, :class => "button pictos account"
            = navigate_to :users, "Users", magic_users_path, :class => "button pictos users"
            = navigate_to :create_admin, "Create Admin", new_admin_registration_path, :class => "button pictos new"
            = navigate_to :resque, "Resque", magic_resque_path, :class => "button pictos resque"
            = link_to "Logout", destroy_admin_session_path, :class => "logout"
        #logo.grid_2.omega
          = link_to image_tag("header-logo.png"), root_path
    - unless flash.empty?
      - flash.each do |key, value|
        %div{:class => "#{key} pictos flash"}= value
    .container_24{ :id => background? ? "content" : nil }
      = yield